.login-main-container {
  display: flex;
  justify-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin-top: 10px;
}
.login-first {
  margin-top: 100px;
}
.login-second {
  margin-top: 50px;
}
.login-heading {
  margin-left: 20px;
}
