.Main-page-list {
  background-color: lightseagreen;
  color: white;
  height: 2.8rem;
  font-size: 1.3rem;
  text-decoration: none;
}
.Container {
  display: flex;
  gap: 10px;
}
.Link {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  gap: 10px;
}
